# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
*.env

# System files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Test cache
.pytest_cache/

# Logs
*.log

# Database or cache
*.sqlite3
*.db
*.pkl
